{% extends 'base.html.twig' %}

{% block title %}{{ 'jobeet.job.list.title'|trans }}{% endblock %}

{% block main %}
    {% import 'jobs/macro/list.html.twig' as jobList %}

    {{ jobList.render(category, jobs) }}

    <div class="d-flex justify-content-center">
        {{ pagerfanta(jobs, 'twitter_bootstrap4') }}
    </div>
{% endblock %}
